@page "/about"
<h1>About this site</h1>
<br />
<h2>What is the goal of this site</h2>
<p>
    Streaming services and digital storefronts have been an unreliable way getting access to content they want to watch or play. Even when a customer has purchased a digital product, they may not be able to access it later due to licensing issues or the product being removed from the platform.
    The goal is to have a place where people can go to see if they own the rights to access the content they have purchased. Additionally, I would like this site to be an archive of different formats for movies, television shows, web series, and video games to let purchasers know what they contain.
    I am considering products that use internet of things like smart speakers, smart displays, modern cars, etc. Due to how many companies are trying hard to make sure that customers no longer own the products they purchase due to subscription services, I want to make sure that customers know what they are getting into before they make a purchase.
</p>
<h3>Additional Goals</h3>
<p>
    With the way things have been going in the past year or so, I want to be able to make sure users have the ability to access books, movies, and other forms of important media.
    Additionally, I want to be able to share media that might not have gotten the chance to shine.
</p>
<hr />
<h2>What this place is not</h2>
<br />
<h3>It is not a review site</h3>
<p>It is not a review site for products. There are plenty of places to get an opinion  of different movies, tv-shows, video games, etc. </p>
<br />
<h3>It is not a piracy site</h3>
<p>
    This site does not host or link to any pirated content. It is not a place to find illegal copies of movies, tv-shows, video games, etc.
    Also please do not link pages related to the Internet Archive. I believe heavily in their mission and I would prefer it if they didn't get into anymore legal trouble.
    If there are formats sponsored by the creators or owners of the product, then those can be shown in different format sections.
    Additionally, I want to be able to share products that <strong>are free</strong> for people to enjoy.
</p>
<br />
<h3>It is not a place for self-promotion</h3>
<p>
    This site is not a place to promote your own products or services. If you are putting in information related to a product that belongs to you or a company you represent you must contact us.
    However, if you are a creator or represent a company that has products listed on this site and you would like to provide additional information about the product, please contact us.
</p>
<br />
<h3>It is not a site for AI Products</h3>
<p>
    This site is not a place to list AI generated products or services. This includes but is not limited to AI generated art, music, writing, etc.
    AI generated content has been flooding every corner of the internet. This site is a refuge for people who want to find products that are made by humans for humans.
    There is tons of creative talent out there that doesn't get the recongition they deserve and I want to help find a promote that talent.
</p>
<br />
<h3>It is not a site for live stream content</h3>
<p>
    While there are a lot of talented creators in the livestream space, there are also a lot of people in that space
    that are popular because they watch YouTube videos or react to things without adding anything of value to the content.
    I want to avoid the latter group of people as much as possible.
</p>
<br />
<h3>It is not a site for drama or slop content</h3>
<p>
    I don't care about what Tubadude said about Buttcrumbenthusiast or what the latter said about LGBTQ+ rights.
    I don't care if someone got cancelled for something they said or did. I don't care about internet drama.
    While there are people who certainly deserve to be called out for their actions, this is not the place to do it.
</p>