@page "/"

<PageTitle>Home</PageTitle>
<meta name="description" content="Stop second-guessing your purchases. GoMontag is the simple app to check the ownership for your movies, shows, games, books, tools, and more. Know what you own, always."  />

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="search-bar">
	<Search />
</div>