@page "/ownership"
<h1>Levels of Ownership Explanation</h1>

<table>
	<tr>
		<th>Level</th>
		<th>Ownership</th>
		<th>Explanation</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Don't Own</td>
		<td>
			You do not own the product under the specific format or circumstance.
			The creator, developer, maker, etc. has done everything that they can to stop you from owning the product.
		</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Unknown</td>
		<td>
			There is either no current way of understanding whether or not you own the product based button
			the purchased format or circumstance of purchase.
		</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Licensed Ownership</td>
		<td>
			The ownership is underneath a license, meaning the product ownership can be revoked at anytime due
			to circumstances outside of the purchasers control.
		</td>
	</tr>
	<tr>
		<td>4</td>
		<td>Missing Features</td>
		<td>
			Purchaser owns the product, but features can still be missing after a period of time. These features are
			likely due to being tied to a subscription service or an online service that will be discontinued in the future,
			such as multiplayer in a video game.
		</td>
	</tr>
	<tr>
		<td>5</td>
		<td>Needs Repairs to Work</td>
		<td>
			It is possible for the purchaser to fully own the product. But due to services being shut down, the purchaser will have to
			repair the product in order to get features and functions to work properly.
		</td>
	</tr>
	<tr>
		<td>6</td>
		<td>Full Ownership</td>
		<td>
			Purchaser owns the product with all features involved with the format or means of purchase.
		</td>
	</tr>
</table>
