<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DoYouOwnIt.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house fs-4 ms-1 me-3 mb-4"></i>Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <i class="bi bi-cart3 fs-4 ms-1 me-3 mb-4"></i> Products
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin, Moderator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="stores">
                        <i class="bi bi-shop fs-4 ms-1 me-3 mb-4"></i> Stores
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categories">
                        <i class="bi bi-tags-fill fs-4 ms-1 me-3 mb-4"></i> Categories
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
